<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/ico" href="favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/node_modules/reveal.js/dist/reveal.css" />
    <link rel="stylesheet" href="/node_modules/reveal.js/dist/theme/black.css" />
    <link rel="stylesheet" href="/node_modules/reveal.js/plugin/highlight/monokai.css" />
    <link rel="stylesheet" href="styles.css"></link>
    <title>Indiana Jones et le Temple Maudit d’Angular</title>
</head>

<body>
    <div class="reveal">
        <div class="slides">
            <!-- Title Slide -->
            <section>
                <div class="cv titre">
                    <div class="item">
                        <h1>Indiana Jones et le Temple Maudit d’Angular</h1>
                        <h2>1O ans d'Aventures et les Bonnes Pratiques en v19</h2>
                    </div>
                    <div class="item">
                        <p class="p-titre">Pierre FERVEL</p>
                        <p class="p-titre">BreizhCamp - 27 juin 2025</p>
                    </div>
                </div>
                <aside class="notes">
"Alors... est-ce qu’il y a des gens ici qui ont déjà mis les mains dans du AngularJS ?" </br>
<i>(Pause dramatique, regarder les réactions)</i> </br>
"Ok… j’espère que vous avez quitter ces projets depuis." </br>
"Aujourd’hui, on va retracer l’histoire d’Angular. Un framework qui a connu des hauts, des bas, des refontes, des révolutions... et qui est toujours là, solide comme un rocher qui déboule dans un tunnel — ou comme une dépendance dans ton package.json."
<p>Alors, enfilons notre chapeau d'archéologue du code, et partons à la découverte des trésors cachés d'Angular !</p>
                </aside>
            </section>
            
            <!-- Introduction -->
            <section>
                <section class="inner-section">
                    <h3>Angular, un framework front-end majeur depuis près de 10 ans</h3>
                    <aside class="notes">
"Angular, c’est plus qu’un simple framework. C’est une saga. 10 ans d’évolution, de paris techniques, de frustrations parfois… mais aussi de très belles idées." </br>
<i>(regarde la salle)</i> </br>
"Et si vous êtes ici, c’est peut-être parce que vous avez une app Angular en prod… que vous aimez ça… ou que vous êtes coincés avec."
                    </aside>
                </section>
                <section class="inner-section">
                    <h3>Obectifs de cette présentation</h3>
                    <ul>
                        <li>Les grandes étapes de l'évolution d'Angular</li>
                        <li>Les nouveautés clés et leur impact sur les applications modernes</li>
                        <li>Pleins de bonnes pratiques pour écrire du code Angular performant et maintenable</li>
                    </ul>
                    <aside class="notes">
"Mais ne vous inquiétez pas, je suis là pour vous aider à sortir de cette jungle !"
</br>
"L’objectif de ce talk ? Vous raconter cette histoire, mais surtout : </br>
Comprendre les grandes étapes, </br>
Découvrir les nouveautés clés, </br>
Et bien sûr, apprendre à écrire du code Angular qui soit à la fois performant et agréable à maintenir." </br>
"Et je vous le dis tout de suite : ce sera une aventure nostalgique, technique mais passionnante, comme un bon vieux film d’Indiana Jones !"
                    </aside>
                </section>
            </section>

            <!-- Angular Evolution -->
            <!-- Les débuts d'Angular -->
            <section>
                <section class="inner-section">
                    <h3>Les débuts des frameworks front-end</h3>
                    <img src="./assets/apes_2001.gif" alt="2001 l'odyssée de l'espace" style="height:550px;width:auto" />
                    <aside class="notes">
"On va commencer par le début du début. Vous savez, à la bonne vieille époque où on faisait du JavaScript pur, sans framework, sans bibliothèque, juste avec des alertes et des console.log." </br>
"Hein ? On continue à faire ça ?! Oui, ben comme quoi, on a gardé des choses de cette époque..." </br>
"C’était l’âge d’or du JavaScript, mais aussi l’âge de pierre du développement web. On empilait les scripts, on bricolait des trucs, et on espérait que ça marche."
                    </aside>
                </section>
                <section class="inner-section">
                    <h3>jQuery et la jungle du web</h3>
                    <pre style="width:24%;"><code>
$(document).ready(function() {
    $('#myButton').click(function() {
        alert('Button clicked!');
    });
});
                    </code></pre>
                    <aside class="notes">
"Flashback. On est en 2010. Le front, c’est la jungle. 
Et là, arrive un super outil pour manipuler notre DOM : jQuery !
Alors bon... Très vite on bricole, on empile les scripts, on prie pour que le DOM nous obéisse.
Et... pafois ça passe, souvent, ça se passe pas toujours comme on veut..."
                    </aside>
                </section>
                <section class="inner-section">
                    <h3>AngularJS, un framework révolutionnaire qui aura marqué une génération de développeurs</h3>
                    <pre style="width:35.5%;"><code>
angular.module('myApp', [])
    .controller('MyController', function($scope) {
        $scope.greeting = 'Hello, World!';
        $scope.updateGreeting = function(newGreeting) {
            $scope.greeting = newGreeting;
        };
    });
                    </code></pre>
                    <aside class="notes">
"C'est à ce moment qu'arrive AngularJS. C’est magique. Du double binding, des directives, une architecture MVC… c’est le feu !"
                    </aside>
                </section>
                <section class="inner-section">
                    <h3>Le passage difficile d'AngularJS à Angular 2</h3>
                    <div class="cv">
                        <div class="item">
                            <p><strong>Un reboot complet, plus brutal que le Crâne de Cristal pour plus de performance et de modularité</strong></p>
                            </br>
                            <p>Plus de $scope, désormais on utilise Typescript</p>
                            <pre style="width:30.5%;"><code data-line-numbers="1-3|4|8-10">import { Component } from '@angular/core';

@Component({
    selector: 'app-root',
    template: ``&lt;h1&gt;{{ greeting }}&lt;/h1&gt;``,
    styles: [`h1 { font-family: Lato; }`]
})
export class AppComponent {
    greeting = 'Hello, Angular 2!';
}
                            </code></pre>
                        </div>
                    </div>
                    <aside class="notes">
"Mais au bout de quelques années, c’est aussi un peu... la galère. Des scopes partout, du code spaghetti, difficile à maintenir. Le rêve tourne au cauchemar." </br>
"Et alors là, en 2016, Google fait un truc radical : ils disent… ‘allez, on s'en fiche de tout ce qu'on a capitalisé, on recommence tout’."
<i>(pause)</i> </br>
"Angular 2, c’est pas une mise à jour. C’est un nouveau monde. Fini $scope, bonjour TypeScript. C’est plus rapide, plus propre, mais aussi… plus complexe."
</br>
"Un peu comme passer de Mario Kart à Dark Souls."
                    </aside>
                </section>
                <section class="inner-section">
                    <h3>Avec Angular 2, débarque zone.js, pour mieux contrôler ton DOM</h3>
                    <div class="cv">
                        <p>Simplifier le déclenchement des changements d'état</p>
                        <p>Intercepter tous les événements asynchrones de l'application</p>
                        <p><span>Résultat :</span> Les développeurs n'ont pas besoin de gérer manuellement quand l'UI se met à jour</p>
                    </div>
                    <aside class="notes">
<p>C'est donc avec Angular 2 qu'on voit apparaître zone.js</p>
<p>Zone.js ça permet de gérer sans sourciller le changement d'état, le fameux Change Detection</p>
<p>Angular utilise Zone.js comme une sorte de "patch" du navigateur : il intercepte tous les événements async (clicks, timers, Promises, etc.).</p>
<p>Chaque fois qu’un événement async survient, Angular relance automatiquement la détection de changements.</p>
<p>Résultat : développeurs n’ont pas besoin de gérer manuellement quand l’UI doit se mettre à jour.</p>
                    </aside>
                </section>
                <section class="inner-section">
                    <h3>Ainsi que le bundler officiel d'Angular : Webpack</h3>
                    <div class="cv">
                        <p>Compiler, minifier, et regrouper les fichiers JS/TS, CSS, assets, etc.</p>
                        <p>Gérer le code splitting, le lazy loading…</p>
                        <p>Intégration ultra configurable, surtout via la CLI d'Angular</p>
                    </div>
                    <aside class="notes">
"Et puis, il y a Webpack. Le bundler officiel d'Angular. C’est un peu le couteau suisse du développement web." </br>
"Il compile, minifie, regroupe les fichiers JS/TS, CSS, assets, etc. Il gère le code splitting, le lazy loading… et surtout, il s’intègre parfaitement avec la CLI d’Angular." </br>
"En gros, c’est comme si on avait un assistant personnel qui s’occupait de tout le bazar pour nous. On écrit notre code, et Webpack s’assure que tout est bien empaqueté et prêt à être déployé." </br>
                    </aside>
                </section>
            </section>
            <!-- Angular 4 à 8 -->
            <section>
                <section class="inner-section">
                    <h3>Angular 4 à 8 : L'âge d'or</h3>
                    <div class="cv">
                        <div class="item">
                            <p><strong>Une stabilité maîtrisée qui entraîne des évolutions</strong></p>
                            <p>Améliorations des performances, meilleure gestion des dépendances</p>
                        </div>
                    </div>
                    <img src="./assets/picsou_gold.gif" alt="Picsou dans sa piscine de pièces d'or" style="height:500px;width:auto" />
                    <aside class="notes">
"Après ce reboot un peu violent, Angular trouve enfin son rythme." </br>
"Entre les versions 4 et 8, on a de la stabilité, des évolutions maîtrisées. On améliore le CLI, on simplifie la gestion des dépendances, on booste les perfs. </br>
C’est l’époque où on commence à faire confiance au framework. On se dit : 'OK, c’est pas React, mais au moins ça bouge pas toutes les deux semaines.'" </br>
"Et en vrai, ça fait du bien."
"Je vous propose de faire un petit tour d'horizon des évolutions majeures de cette période."
                    </aside>
                </section>
                <section class="inner-section">
                    <h3>Les modules avec la directive @NgModule</h3>
                    <pre style="width:42%;"><code data-line-numbers="1,5-10">import { NgModule } from '@angular/core';
import { CommonModule } from '@angular/common';
import { LazyLoadedComponent } from './lazy-loaded.component';

@NgModule({
  imports: [
    CommonModule
  ],
  declarations: [LazyLoadedComponent]
})
export class LazyLoadedModule { }
                    </code></pre>
                    <aside class="notes">
<p>"Commençons par la directive @NgModule(), une révolution dans l'architecture. On importe des modules de manière plus ciblée, et en prime, ça permet également de délimiter les composants."</p>
<p>"On peut ranger nos composants, les organiser, et surtout, on peut les partager. Plus besoin d'écrire 10 fois les mêmes choses." </p>
"Et ça, c’est pas juste pour faire joli. Ça améliore les perfs, ça réduit le temps de chargement initial." </br>
                    </aside>
                </section>
                <section class="inner-section">
                    <h3>Le lazy loading</h3>
                    <div class="cv">
                        <div class="item">
                            <pre style="width:65.5%;"><code data-line-numbers="3,5-10">// app-routing.module.ts
import { NgModule } from '@angular/core';
import { RouterModule, Routes } from '@angular/router';
import { LazyLoadedModule } from './lazy-loaded/lazy-loaded.module';
const routes: Routes = [
    {
        path: 'lazy',
        loadChildren: () => import('./lazy-loaded/lazy-loaded.module').then(m => m.LazyLoadedModule)
    }
];
@NgModule({
    imports: [RouterModule.forRoot(routes)],
    exports: [RouterModule]
})
export class AppRoutingModule { }
                            </code></pre>
                        </div>
                        <div class="item">
                            <pre style="width:65.5%;"><code data-line-numbers="3,7">// app.module.ts
import { NgModule } from '@angular/core';
import { CommonModule } from '@angular/common';
import { AppRoutingModule } from './app-routing.module';
@NgModule({
    imports: [
        CommonModule,
        AppRoutingModule
    ]
})
export class AppModule { }
                    </code></pre>
                    <aside class="notes">
"Arrive aussi le lazy loading. Pour faire simple, c’est un peu comme si on avait une grande armoire dans notre app. On met tout ce qu'on a dedans, mais rangé par rayon, et dans chaque rayon on prend que ce qu’on veut, quand on en a besoin." </br>
"Et vous avez compris une fois de plus, c’est pas juste pour faire joli. Ça améliore les perfs, ça réduit le temps de chargement initial." </br>
                    </aside>
                </section>
                <section class="inner-section">
                    <h3>Les Observables</h3>
                    <pre style="width:47%;"><code data-line-numbers="2-3,15-24">import { Component } from '@angular/core';
import { Observable, of } from 'rxjs';
import { map } from 'rxjs/operators';
@Component({
    selector: 'app-observable-example',
    template: `
        &lt;div&gt;
            &lt;p&gt;Valeur : {{ value }}&lt;/p&gt;
            &lt;button (click)="fetchData()"&gt;Charger les données&lt;/button&gt;
        &lt;/div&gt;
    `
})
export class ObservableExampleComponent {
    value: string = 'Aucune donnée';
    fetchData() {
        this.getData().pipe(
            map(data => `Données récupérées : ${data}`)
        ).subscribe(result => {
            this.value = result;
        });
    }
    getData(): Observable&lt;string&gt; {
        return of('Données de l\'API');
    }
}
                   </code></pre>
                   <aside class="notes">
<p>"C'est avec ces versions que débarquent également les Observables. Clairement, c’est le Saint Graal du typescript. <i>(Oui, je vous vois dans l'fond là, me jugez pas, je vous explique pourquoi)</i>.</p>
<p>Tu peux écouter des événements, gérer des flux de données, tout ça sans te prendre la tête." </p>
<p>"En plus, c’est super simple à utiliser. Tu crées un Observable, tu t’abonnes, et hop, tu reçois les données." </p>
<p>"Et pour ceux qui se disent 'Mais pourquoi pas des Promises ?' Eh bien, les Observables sont plus puissants. Tu peux annuler, combiner, transformer les flux de données. C’est comme si tu avais un super pouvoir." </p>
<p>"Et comme un grand pouvoir implique de grandes responsabilités... c’est pas juste pour faire joli. Ça améliore les perfs... et... ça réduit le temps de chargement initial." </p>
                    </aside>
                   </aside>
                </section>
                <section class="inner-section">
                    <h3>RxJS : La colonne vertébrale réactive d'Angular</h3>
                    <p><strong>Pourquoi c'est important ?</strong></p>
                    <ul>
                        <li>RxJS est utilisé dans Angular pour <strong>tout ce qui est asynchrone</strong> : HTTP, événements, formulaires…</li>
                        <li>Permet de <strong>composer et transformer</strong> des flux de données dans le temps</li>
                        <li><strong>Déclaratif, testable, puissant</strong> → idéal pour des applications complexes</li>
                    </ul>
                    <hr/>

                    <h4>Exemple de comparaison</h4>
                    <div class="ch">
                        <div class="item">
                            <h4>Sans RxJS (Promise)</h4>
                            <pre><code class="language-ts">
http.get('/api/user').then(user => {
if (user.active) {
    // ...
}
});
                            </code></pre>
                        </div>
                        <div class="item">
                        <h4>Avec RxJS</h4>
                        <pre><code class="language-ts">
this.http.get('/api/user').pipe(
filter(user => user.active),
tap(user => this.doSomething(user))
).subscribe();
                        </code></pre>
                        </div>
                    </div>
                </section>
                <section class="inner-section">
                    <h3>Les opérateurs RxJS les plus utiles</h3>
                    <table>
                        <thead>
                        <tr>
                            <th>🔧 Opérateur</th>
                            <th>📋 Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr><td><i>map</i></td><td>Transformer une valeur</td></tr>
                        <tr><td><i>filter</i></td><td>Filtrer certaines valeurs</td></tr>
                        <tr><td><i>switchMap</i></td><td>Annule le flux précédent si un nouveau arrive</td></tr>
                        <tr><td><i>debounceTime</i></td><td>Temporise avant d’émettre</td></tr>
                        <tr><td><i>combineLatest</i></td><td>Combine plusieurs flux</td></tr>
                        <tr><td><i>catchError</i></td><td>Gère les erreurs sans casser le flux</td></tr>
                        <tr><td><i>tap</i></td><td>Effets de bord (logs, méthodes)</td></tr>
                        </tbody>
                    </table>

                    <hr/>

                    <h3>Exemple : Recherche utilisateur</h3>
                    <pre style="width:31%;"><code class="language-ts">
this.searchInput.valueChanges.pipe(
  debounceTime(300),
  filter(q => q.length > 2),
  switchMap(q => this.http.get('/api?q=' + q))
).subscribe(
    results => this.show(results)
);
                    </code></pre>
                </section>
                <section class="inner-section">
                    <h3>Quelques autres grandes évolutions de 4 à 7:</h3>
                    <p><strong>Angular 4</strong></p>
                    <ul>
                        <li>Possibilité de créer des guards, des resolvers, des composants plus spécifiques</li>
                    </ul>
                    <p><strong>Angular 5</strong></p>
                    <ul>
                        <li>Introduction du support des PWA (Progressive Web App)</li>
                    </ul>
                    <p><strong>Angular 6</strong></p>
                    <ul>
                        <li>Gestion de l'ajout de dépendances npm</li>
                        <li>Possibilité de réaliser des tests unitaires</li>
                    </ul>
                    <p><strong>Angular 7</strong></p>
                    <ul>
                        <li>Mise à jour globale des dépendances (`ng update`)</li>
                    </ul>
                    <aside class="notes">
<p style="color: red">Une PWA (Progressive Web App) est un type d'application web qui combine les avantages des applications web traditionnelles et des applications mobiles natives.</p>
Voici les principales caractéristiques d'une PWA :
</br>
Accessibilité : Une PWA est accessible via un simple lien web, sans avoir besoin d'être installée sur l'appareil de l'utilisateur. </br>
Expérience utilisateur améliorée : Une PWA offre une expérience utilisateur fluide et rapide, similaire à celle d'une application mobile native. </br>
Hors-ligne : Une PWA peut fonctionner hors-ligne, grâce à l'utilisation de "service workers" qui mettent en cache les ressources nécessaires. </br>
Notifications push : Une PWA peut envoyer des notifications push à l'utilisateur, comme une application mobile. </br>
Ajout à l'écran d'accueil : L'utilisateur peut ajouter une PWA à l'écran d'accueil de son appareil, comme une application mobile. </br>
Mise à jour automatique : Une PWA se met à jour automatiquement, sans nécessiter d'intervention de l'utilisateur. </br>
Sécurité : Une PWA est servie en HTTPS, ce qui assure la sécurité des données. </br>
L'introduction du support des PWA dans Angular 5 a permis aux développeurs de créer facilement des applications web progressives, en bénéficiant de toutes ces fonctionnalités. -->                        
                    </aside>
                </section>
                <section class="inner-section">
                    <h3>Angular Material</h3>
                    <p>Officialisation d'Angular Material basé sur les versions d'Angular</p>
                    <img src="./assets/material_v5.png" alt="Angular Material" style="height:700px;width:auto" />
                    <aside class="notes">
"Et bien sûr, y’a Angular Material. Pour vulgariser, c'est un peu comme le petit frère de Bootstrap, mais pour Angular.
C’est beau, c’est propre, et ça te fait gagner un temps fou." </br>
"Mais attention, c’est pas juste du CSS. C’est une vraie bibliothèque de composants qui respecte les principes du Material Design." </br>
"Bon, donc pour ceux qui l'auraient toujours pas: Material Design + De l'Angular... <i>Fuuuuusssssiiioooonnnnn !</i> Angular Material !"
</br>
Alors oui, en réalité, je vous voir venir les initiés, je vous ai un peu menti. Il existait déjà une version de Material en développement dans la version 2, mais la version 4 a marqué une étape importante dans son évolution et son adoption par la communauté Angular. C'est pour ça qu'on parle souvent de la version 4 comme étant le début de l'ère d'Angular Material.
                    </aside>
                </section>
            </section>
            <!-- Angular 9 à 12 -->
            <section>
                <section class="inner-section">
                    <h3>Angular 9 à 12 : L'ère Ivy</h3>
                    <img src="./assets/poison_ivy.gif" alt="Poison Ivy" style="height:550px;width:auto" />
                    <aside class="notes">
                        "C'est à partir de là qu'on se dit : 'OK, on a un framework qui commence à sacrément ressembler à qqchose.'"
                    </aside>
                </section>
                <section class="inner-section">
                    <h3>Ivy, un moteur de rendu révolutionnaire</h3>
                    <p>Optimisation des performances et de la taille des bundles</p>
                    <aside class="notes">
"Et bam avec Angular 9, Ivy arrive pour remplacer l'AOT (Ahead of Time)."
</br>
<p>"Rien à voir avec le personnage de Batman, Ivy, c’est un nouveau moteur de rendu. Mais attention, ça change tout… sans rien casser. </br>
Concrètement, Ivy rend le framework plus rapide, plus léger, plus flexible. Tu peux compiler juste ce dont t’as besoin. Tout ça grâce au <span style="color:red">TREE-SHAKING</span>, une technologie qui s'occupe de trier pour vous le code mort, les if/else inutilisés, etc..." </br>
"Sur certains projets, on a vu des bundles réduire de 30 à 40%, juste avec Ivy."</p>
<p>"La gestion des erreurs est également améliorée avec des messages plus clairs et plus précis."</p>
<p>"Et, cerise sur le gâteau, Ivy est compatible avec les anciennes versions d'Angular. Donc pas de panique, y'a moyen d'adopter ce p'tit Gremlin sans tout casser. <br> (Gremin, moteur... vous l'avez ?!)"</p>
                    </aside>
                </section>
                <section class="inner-section">
                    <h3>Suivi des évolutions de TypeScript (3.7 -> 4.2)</h3>
                    <aside class="notes">
<p>En parallèle, de la 9 à la 12, Angular continue de suivre l'évolution de Typescript</p>
                    </aside>
                </section>
            </section>
            <!-- Angular 13 à 19 -->
            <section>
                <section class="inner-section">
                    <h3>Angular 13 à 19 : Retour vers le futur des frameworks front-end</h3>
                    <img src="./assets/brown_future.gif" alt="Emmet Brown" style="height:600px;width:auto">
                    <aside class="notes">
"Dans cette dernière partie, on va voir comment Angular s'est modernisé pour répondre aux nouveaux enjeux du développement front-end : plus de flexibilité, une architecture modulaire, et des performances accrues. On va parler des Standalone Components, des modules fédérés et des nouvelles directives qui rendent Angular plus simple et plus puissant que jamais."
"Angular continue d'évoluer. On entre dans une nouvelle ère, l'ère moderne." </br>
                    </aside>
                </section>
                <section class="inner-section">
                    <pre style="width:33%;"><code data-line-numbers="4-7|8-17|18-25|27">
my-app/
├── src/
│   ├── app/
│   │   ├── app.component.ts
│   │   ├── app.module.ts
│   │   └── app-routing.module.ts
│   ├── products/
│   │   ├── pipes/
│   │   │   ├── cart-product.pipe.ts
│   │   ├── components/
│   │   │   ├── product.component.ts
│   │   │   └── cart.component.ts
│   │   ├── services/
│   │   │   └── product.service.ts
│   │   ├── products.module.ts
│   │   └── products-routing.module.ts
│   ├── orders/
│   │   ├── components/
│   │   │   ├── order-form.component.ts
│   │   │   └── order-confirmation.component.ts
│   │   ├── services/
│   │   │   └── order.service.ts
│   │   ├── orders.module.ts
│   │   └── orders-routing.module.ts
│   └── main.ts
├── webpack.config.js
└── package.json
                    </code></pre>
                    <aside class="notes">
"Fini les NgModules ? Presque." </br>
"Aujourd’hui, on peut créer un composant Angular sans avoir à déclarer un module. C’est plus simple, plus clair, plus rapide. Bon, dans la pratique; comme on va le voir, ça permet surtout d'alléger l'architecture de l'application et de la rendre plus maintenable." </br>
 
1 - Application principale (app/) : </br>
Contient le composant racine, le module principal et le routage de l'application. </br>
Utilise le "Module Federation Plugin" pour charger dynamiquement les modules fédérés. </br>
2 - Module de Produits (products/) : </br>
Contient les composants et services liés à la gestion des produits. </br>
Les composants sont définis comme des Standalone Components. </br>
Le module et le routage sont encapsulés dans ce dossier. </br>
3 - Module de Commandes (orders/) : </br>
Contient les composants et services liés à la gestion des commandes. </br>
Les composants sont également définis comme des Standalone Components. </br>
Le module et le routage sont encapsulés dans ce dossier. </br>
4 - Configuration Webpack (webpack.config.js) : </br>
Contient la configuration du "Module Federation Plugin" pour permettre le chargement dynamique des modules fédérés. </br>

5 - Fichier principal (main.ts) : </br>
Point d'entrée de l'application, où le module principal est bootstrapé. </br>

<p>Le Module Federation est une fonctionnalité de Webpack (introduite avec Webpack 5) qui permet de partager dynamiquement du code entre plusieurs applications à l’exécution, sans avoir besoin de tout recompiler ensemble. Dans le contexte Angular, cela permet de construire des applications micro-frontend où plusieurs équipes peuvent travailler sur des modules indépendants, déployés séparément.</p>
                    </aside>
                </section>
                <section class="inner-section">
                    <div class="item">
                        <ul>
                            <li>Amélioration de la gestion des formulaires (TypedForms) v13</li>
                            <li>Signals v16</li>
                            <li>defer() v16</li>
                        </ul>
                    </div>
                    <aside class="notes">
"Avec la version 16, on sent l'écoute de la communauté, c'est le débarquement du principe des Signals. Une nouvelle manière de gérer la réactivité, inspirée du monde de la programmation réactive… mais plus lisible, plus intuitive. </br>
Pour les quelques fans de Solid qui ont eu le courage de venir à cette conf, vous n'êtes pas perdu avec ces principes (en même temps, on vient de parler de meilleure réactivité). C’est un peu comme si Angular avait décidé de prendre un café avec Solid." </br>
"Il y’a aussi defer(). C’est un peu comme un 'setTimeout' pour tes appels API mais toujours pareil, dans un principe de meilleure gestion de la réactivité. 
Tu peux dire à Angular : 'Hé, attends un peu avant de charger ça.' Et Angular te dit : 'Pas de souci, je vais attendre, tu m'préviens et je lance ton appel quand t'es ok.'" </br>
"Vous allez me dire, 'Ben ils sont où les exemples ?!' Pas d'inquiétudes, je vous détaille tout ça dans qq minutes dans les bonnes pratiques"
                    </aside>
                </section>
            </section>

            <!-- Bonnes pratiques -->
            <section>
                <section class="inner-section">
                    <h3>Les bonnes pratiques actuelles pour donner un bon coup de fouet à vos applications</h3>
                    <img src="./assets/lets_go.gif" alt="Let's go!" style="height:550px;width:auto" />
                    <aside class="notes">
"On a vu l'évolution d'Angular, mais maintenant, parlons des bonnes pratiques pour écrire du code Angular performant et maintenable." </br>
"On va aborder les nouveautés clés, les directives modernes, et comment structurer votre code pour qu'il soit à la fois clair et efficace."
                    </aside>
                </section>
                <section class="inner-section">
                    <div class="cv">
                        <div class="item">
                            <h3>Dependency Injection</h3>
                            <pre style="width:34.5%;"><code class="language-typescript" data-line-numbers="1,4-6,13,15,22">//monservice.service.ts
import { Injectable } from '@angular/core';

@Injectable({
    providedIn: 'root'
})
export class MyService {
    getData() {
        return 'Hello from MyService';
    }
}

// moncomposant.component.ts
import { Component } from '@angular/core';
import { MyService } from './monservice.service';

@Component({
    selector: 'app-dependency-injection',
    template: '&lt;p&gt;{{ data }}&lt;/p&gt;'
})
export class DependencyInjectionComponent {
    myService = inject(MyService);

    data = this.myService.getData();
}
                            </code></pre>
                        </div>
                    </div>
                </section>

                <section class="inner-section">
                    <div class="cv">
                        <div class="item">
                            <h3>Typed Forms</h3>
                            <pre style="width:46%;"><code class="language-typescript" data-line-numbers="4-8|14|17-21,26-27">import { Component } from '@angular/core';
import { FormBuilder, FormGroup, Validators } from '@angular/forms';

interface User {
    name: string;
    email: string;
    age: number;
}

@Component({
    selector: 'app-user-form',
})
export class UserFormComponent {
    userForm: FormGroup;

    constructor(private fb: FormBuilder) {
        this.userForm = this.fb.group({
            name: ['', Validators.required],
            email: ['', [Validators.required, Validators.email]],
            age: [null, [Validators.required, Validators.min(0)]],
        }) as FormGroup&lt;User&gt;;
    }

    onSubmit() {
        if (this.userForm.valid) {
            const userData: User = this.userForm.value;
            console.log(userData);
        }
    }
}                                
                            </code></pre>
                        </div>
                    </div>
                    <aside class="notes">Typed Forms (Angular 14)</aside>
                </section>
                <section class="inner-section">
                    <div class="cv">
                        <div class="item">
                            <h3>Standalone Components</h3>
                            <pre style="width:38.5%;"><code class="language-typescript" data-line-numbers="5-10">import { Component } from '@angular/core';
import { CommonModule } from '@angular/common';
import { RouterModule } from '@angular/router';

@Component({
    selector: 'app-standalone',
    template: '&lt;h1&gt;Standalone Component&lt;/h1&gt;'
    standalone: true,
    imports: [CommonModule, RouterModule]
})
export class StandaloneComponent {
    constructor() {
        console.log('Standalone Component Initialized');
    }
}
                            </code></pre>
                        </div>
                    </div>
                    <aside class="notes">Standalone Components (Angular 14)</aside>
                </section>
                <section class="inner-section">
                    <div class="cv">
                        <div class="item">
                            <h3>Structural Control Flow Syntax</h3>
                            <p>Fini les directives <span class="var-highlight">*ngIf</span>, <span class="var-highlight">*ngFor</span>, <span class="var-highlight">*ngSwitch</span></p>
                            <pre style="width:30.5%;"><code class="language-typescript" data-line-numbers="1-5|7-9|11-13">@if (user.isLoggedIn) {
    &lt;p&gt;Bienvenue, {{ user.name }} !&lt;/p&gt;
} @else {
    &lt;p&gt;Veuillez vous connecter.&lt;/p&gt;
}

@for (let item of items; track item.id) {
    &lt;li&gt;{{ item.name }}&lt;/li&gt;
}

@let currentDate = today() {
    &lt;p&gt;Nous sommes le {{ currentDate }}&lt;/p&gt;
}
                            </code></pre>
                        </div>
                    </div>
                    <aside class="notes">Structural Control Flow (Angular 14)</aside>
                </section>
                <section class="inner-section">
                    <div class="cv">
                        <div class="item">
                            <h3>Signals</h3>
                            <pre style="width:39%;"><code class="language-typescript" data-line-numbers="6-7,11-14">import { Component, signal } from '@angular/core';

@Component({
    selector: 'app-signals',
    template: `
        &lt;p&gt;Count: {{ count() }}&lt;/p&gt;
        &lt;button (click)="increment()"&gt;Increment&lt;/button&gt;
    `
})
export class SignalsComponent {
    count = signal(0);
    increment() {
        this.count.update(value => value + 1);
    }
}
                            </code></pre>
                        </div>
                    </div>
                    <aside class="notes">Signals (Angular 16)</aside>
                </section>
                <section class="inner-section">
                    <div class="cv">
                        <div class="item">
                            <h3>Shared Linked Signals</h3>
                            <div class="ch">
                                <div class="item">
                                    <pre><code class="language-typescript">// user.state.ts
import { signal } from '@angular/core';

export const userAuthSignal = 
    signal({ isAuthenticated: false, user: null });

export function login(user: any) {
    userAuthSignal.set({ isAuthenticated: true, user });
}

export function logout() {
    userAuthSignal.set({ isAuthenticated: false, user: null });
}
                                    </code></pre>
                                </div>
                                <div class="item">
                                    <pre><code class="language-typescript" data-line-numbers="2,13,19,22,26">// app.component.ts
import { userAuthSignal, logout } from '@state/user.state';

@Component({
    selector: 'app-linked-signals',
    template: `
    <nav>
        @if (userAuthSignal().isAuthenticated) {
            <span>Welcome, {{ userAuthSignal().user.name }}!</span>
            <button (click)="handleLogout()">Logout</button>
        } @else {
            <span>Please log in.</span>
            <button 
                (click)="handleLogin({ name: 'John Doe' })"
            >
                Login
            </button>
        }
    </nav>
    `,
})
export class LinkedSignalsComponent {
    userAuthSignal = userAuthSignal;

    handleLogout() {
        logout();
    }

    handleLogin(user: any) {
        login(user);
    }
}
                                    </code></pre>
                                </div>
                            </div>
                        </div>
                    </div>
                    <aside class="notes">Signals with linkedSignal (l'effet est répercuté directement depuis le signal Angular v20)</aside>
                </section>
                <section class="inner-section">
                    <div class="cv">
                        <div class="item">
                            <h3>defer()</h3>
                            <div class="ch">
                                <div class="item">
                                    <pre><code class="language-typescript" data-line-numbers="10-12">// data.service.ts
import { Injectable } from '@angular/core';
import { of } from 'rxjs';
import { delay } from 'rxjs/operators';

@Injectable({
    providedIn: 'root',
})
export class DataService {
    fetchData() {
        return of('Données récupérées !').pipe(delay(2000));
    }
}       
                                    </code></pre>
                                </div>
                                <div class="item">
                                    <pre><code class="language-typescript" data-line-numbers="3,9-12,21-23">// data-fetcher.component.ts
import { Component } from '@angular/core';
import { defer } from 'rxjs';
import { DataService } from './data.service';

@Component({
    selector: 'app-data-fetcher',
    template: `
    <button (click)="loadData()">Charger les données</button>
    @if (data) {
        <p>Données : {{ data }}</p>
    }
    `,
})
export class DataFetcherComponent {
    data: string | null = null;

    constructor(private dataService: DataService) {}

    loadData() {
        defer(() => this.dataService.fetchData()
            .subscribe((result) => {
                this.data = result;
            })
        );
    }
}
                                    </code></pre>
                                </div>
                            </div>
                        </div>
                    </div>
                    <aside class="notes">
defer() (Angular 16)
L'avantage de defer() est qu'il permet de retarder l'exécution d'une opération jusqu'à ce qu'elle soit réellement nécessaire. Cela peut être utile pour optimiser les performances de votre application Angular, en évitant d'exécuter des opérations inutiles.
Il est important de noter que defer() ne remplace pas setTimeout(), mais il offre une alternative plus puissante et flexible pour gérer l'asynchronisme dans Angular.
La principale différence réside dans la façon dont ils gèrent l'exécution asynchrone. </br>
- Différence de comportement:
setTimeout() planifie l'exécution d'une fonction après un délai spécifié, mais cette fonction est exécutée dans le contexte de l'événement principal (le thread principal).
defer() crée une nouvelle Observable qui sera exécutée de manière différée, c'est-à-dire que l'exécution sera retardée jusqu'à ce que la Observable soit souscrite. </br>
- Différence de gestion des erreurs:
Avec setTimeout(), les erreurs éventuelles sont propagées dans le flux d'exécution principal, ce qui peut entraîner des problèmes dans votre application.
Avec defer(), les erreurs sont gérées dans le contexte de l'Observable, ce qui permet une meilleure gestion des erreurs et une séparation des préoccupations. </br>
- Différence de composition:
setTimeout() est une fonction native de JavaScript, tandis que defer() fait partie de la bibliothèque RxJS, ce qui permet une meilleure intégration avec les opérateurs RxJS et une meilleure composabilité. </br>
En résumé, defer() offre une meilleure gestion de l'asynchronisme, une meilleure gestion des erreurs et une meilleure intégration avec les concepts réactifs d'Angular, par rapport à l'utilisation de setTimeout() seul.
                    </aside>
                </section>
            </section>

            <!-- Conclusion -->
            <section>
                <section class="inner-section">
                    <h3>Conclusion</h3>
                    <p>Quel avenir pour le framework ?</p> 
                    <img src="./assets/let_it_go.gif" alt="Let it go" style="height:500px;width:auto" />
                    <aside class="notes">
<p>Et pour ceux qui se le demandent Angular est toujours là, solide comme un rocher, prêt à dévaler de nouveaux tunnels.</p>
<p>Alors, que vous soyez un développeur Angular chevronné ou un novice curieux et même si le chemin peut être semé d'embûches, chaque ligne de code que vous écrivez est une étape de plus dans cette aventure passionnante qu'est Angular.</p>
<p>Angular a parcouru un long chemin depuis ses débuts, et il continue d'évoluer pour répondre aux besoins des développeurs modernes.</p>
<p>Avec l'introduction de nouvelles fonctionnalités comme les Standalone Components, les Signals et le lazy loading, Angular devient de plus en plus flexible et performant et surtout plus réactif.</p>
<p>Google ne laisse pas son projet en plan et il y a une écoute concrète et permanente de la communauté. Ce qui permet au framework de continuer à rester présent dans le monde du développement.</p>
<p>On note clairement un rapprochement toujours plus concret de React</p>
<p>Un avenir prometteur pour Angular, avec des évolutions qui continueront à améliorer la productivité des développeurs et la performance des applications.</p>
<p>Est-ce que l'on verra un abandon total de zone.js comme on le pressent depuis quelques temps ? Là, seul l'avenir nous le dira !</p>
                    </aside>
                </section>
            </section>
            <section>
                <section class="inner-section">
                    <div class="ch">
                        <div class="item">
                            <img src="https://doc.maxds.fr/uploads/9d5a48ad-cf59-49c0-a638-c49940c83363.jpg" alt="Merci" style="height:700px;width:auto" />
                        </div>
                        <div class="item mes-infos">
                            <p class="mon-nom">Pierre FERVEL</p>
                            <p>Fullstack Développeur chez <span class="max">Max</span> <span class="digital">Digital</span> <span class="serv">Services</span></p>
                            <div style="display:flex;justify-content:center;">
                                <img src="./assets/logo_max.png" alt="Logo Max" style="height:150px;width:auto" />
                            </div>
                            <p class="twitter">Twitter : <a href="https://twitter.com/pierre_fervel">@pierre_fervel</a></p>
                            <p>LinkedIn : <a href="https://www.linkedin.com/in/pierre-fervel/">pierrefervel</a></p>
                        </div>
                    </div>
                    <aside class="notes">
                        "Et voilà, c'est la fin de notre voyage à travers l'histoire d'Angular. J'espère que vous avez apprécié cette aventure autant que moi."
                        </br>
                        <br />
                        <p>Merci de votre attention !</p>
                        "Si vous avez des questions, n'hésitez pas à me les poser. Je suis là pour ça !"
                    </aside>
                </section>
            </section>
        </div><!-- slides -->
    </div><!-- reveal -->

    <!-- Scripts -->
    <script type="module" src="./main.js"></script>
</body>

</html>