<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/ico" href="favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/node_modules/reveal.js/dist/reveal.css" />
    <link rel="stylesheet" href="/node_modules/reveal.js/dist/theme/black.css" />
    <link rel="stylesheet" href="/node_modules/reveal.js/plugin/highlight/monokai.css" />
    <link rel="stylesheet" href="styles.css"></link>
    <title>Indiana Jones et le Temple Maudit d’Angular</title>
</head>

<body>
    <div class="reveal">
        <div class="slides">
            <!-- Title Slide -->
            <section>
                <div class="cv titre">
                    <div class="item">
                        <h1>Indiana Jones et le Temple Maudit d’Angular</h1>
                        <h2>1O ans d'Aventures et les Bonnes Pratiques en v19</h2>
                    </div>
                    <div class="item">
                        <p class="p-titre">Pierre FERVEL</p>
                        <p class="p-titre">BreizhCamp - 27 juin 2025</p>
                    </div>
                </div>
                <aside class="notes">
"Alors... est-ce qu’il y a des gens ici qui ont déjà mis les mains dans du AngularJS ?"
(Pause dramatique, regarder les réactions)
"Ok… j’espère que vous avez quitter ces projets depuis."
"Aujourd’hui, on va retracer l’histoire d’Angular. Un framework qui a connu des hauts, des bas, des refontes, des révolutions... et qui est toujours là, solide comme un rocher qui déboule dans un tunnel — ou comme une dépendance dans ton package.json."
                </aside>
            </section>
            
            <!-- Introduction -->
            <section>
                <section class="inner-section">
                    <h3>Angular, un framework front-end majeur depuis près de 10 ans</h3>
                    <aside class="notes">
"Angular, c’est plus qu’un simple framework. C’est une saga. 10 ans d’évolution, de paris techniques, de frustrations parfois… mais aussi de très belles idées."
(regarde la salle)
"Et si vous êtes ici, c’est peut-être parce que vous avez une app Angular en prod… que vous aimez ça… ou que vous êtes coincés avec."
                    </aside>
                </section>
                <section class="inner-section">
                    <h3>Obectifs de cette présentation</h3>
                    <ul>
                        <li>Les grandes étapes de l'évolution d'Angular</li>
                        <li>Les nouveautés clés et leur impact sur les applications modernes</li>
                        <li>Pleins de bonnes pratiques pour écrire du code Angular performant et maintenable</li>
                    </ul>
                    <aside class="notes">
"Mais ne vous inquiétez pas, je suis là pour vous aider à sortir de cette jungle !"

"L’objectif de ce talk ? Vous raconter cette histoire, mais surtout :
Comprendre les grandes étapes,
Découvrir les nouveautés clés,
Et surtout, apprendre à écrire du code Angular qui soit à la fois performant et agréable à maintenir."

"Et je vous le dis tout de suite : ce sera une aventure nostalgique, technique mais passionnante, comme un bon vieux film d’Indiana Jones !"
                    </aside>
                </section>
            </section>

            <!-- Angular Evolution -->
            <!-- Les débuts d'Angular -->
            <section>
                <section class="inner-section">
                    <h3>Les débuts des frameworks front-end</h3>
                </section>
                <section class="inner-section">
                    <h3>jQuery et la jungle du web</h3>
                    <!-- Un peu de code jQuery là -->
                    <pre><code>
$(document).ready(function() {
    $('#myButton').click(function() {
        alert('Button clicked!');
    });
});
                    </code></pre>
                    <aside class="notes">
"Flashback. On est en 2010. Le front, c’est la jungle. 
Et là, arrive un super outil pour manipuler notre DOM : jQuery !
Alors bon... Très vite on bricole, on empile les scripts, on prie pour que le DOM nous obéisse.
Et ça se passe pas toujours comme on veut..."
                    </aside>
                </section>
                <section class="inner-section">
                    <h4>AngularJS, un framework révolutionnaire qui aura marqué une génération de développeurs</h4>
                    <!-- du code avec un hook angularjs -->
                    <pre><code>
angular.module('myApp', [])
    .controller('MyController', function($scope) {
        $scope.greeting = 'Hello, World!';
        $scope.updateGreeting = function(newGreeting) {
            $scope.greeting = newGreeting;
        };
    });
                    </code></pre>
                    <aside class="notes">
"Et là arrive AngularJS. C’est magique. Du double binding, des directives, une architecture MVC… c’est le feu !"
                    </aside>
                </section>
                <section class="inner-section">
                    <h3>Le passage difficile d'AngularJS à Angular 2</h3>
                    <div class="cv">
                        <div class="item">
                            <h4>Un reboot complet, plus brutal que le Crâne de Cristal pour plus de performance et de modularité</h4>
                            </br>
                            <p>Plus de $scope, désormais on utilise Typescript</p>
                            <pre><code>
import { Component } from '@angular/core';

@Component({
    selector: 'app-root',
    template: ``&lt;h1&gt;{{ greeting }}&lt;/h1&gt;``,
    styles: [`h1 { font-family: Lato; }`]
})
export class AppComponent {
    greeting = 'Hello, Angular 2!';
}
                            </code></pre>
                        </div>
                    </div>
                    <aside class="notes">
"Mais au bout de quelques années, c’est aussi un peu... la galère. Des scopes partout, du code spaghetti, difficile à maintenir. Le rêve tourne au cauchemar."
"Et alors là, Google fait un truc radical : ils disent… ‘allez, on s'en fiche de tout ce qu'on a capitalisé, on recommence tout’."
(pause)
"Angular 2, c’est pas une mise à jour. C’est un nouveau monde. Fini $scope, bonjour TypeScript. C’est plus rapide, plus propre, mais aussi… plus complexe."
(clin d’œil)
"Un peu comme passer de Mario Kart à Dark Souls."
                    </aside>
                </section>
            </section>
            <!-- Angular 4 à 8 -->
            <section>
                <section class="inner-section">
                    <h3>Angular 4 à 8 : L'âge d'or</h3>
                    <div class="cv">
                        <div class="item">
                            <h4>Une stabilité maîtrisée qui entraîne des évolutions</h4>
                            <p>Améliorations des performances, meilleure gestion des dépendances</p>
                        </div>
                    </div>
                    <aside class="notes">
"Après ce reboot un peu violent, Angular trouve enfin son rythme."
"Entre les versions 4 et 8, on a de la stabilité, des évolutions maîtrisées. On améliore le CLI, on simplifie la gestion des dépendances, on booste les perfs."
"C’est l’époque où on commence à faire confiance au framework. On se dit : 'OK, c’est pas React, mais au moins ça bouge pas toutes les deux semaines.'"

(rire complice)

"Et en vrai, ça fait du bien."
                    </aside>
                </section>
                <section class="inner-section">
                    <h3>Les modules avec la directive @NgModule</h3>
                    <p>La directive permet d'importer les modules de manière plus ciblée, uniquement dans les modules qui en ont besoin.</p>
                    <pre><code>
import { NgModule } from '@angular/core';
import { CommonModule } from '@angular/common';
import { LazyLoadedComponent } from './lazy-loaded.component';

@NgModule({
  imports: [
    CommonModule
  ],
  declarations: [LazyLoadedComponent]
})
export class LazyLoadedModule { }
                    </code></pre>
                </section>
                <section class="inner-section">
                    <h3>Le lazy loading</h3>
                    <div class="ch">
                        <div class="item">
                            <pre><code>
// app-routing.module.ts
import { NgModule } from '@angular/core';
import { RouterModule, Routes } from '@angular/router';
import { LazyLoadedModule } from './lazy-loaded/lazy-loaded.module';
const routes: Routes = [
    {
        path: 'lazy',
        loadChildren: () => import('./lazy-loaded/lazy-loaded.module').then(m => m.LazyLoadedModule)
    }
];
@NgModule({
    imports: [RouterModule.forRoot(routes)],
    exports: [RouterModule]
})
export class AppRoutingModule { }
                            </code></pre>
                        </div>
                        <div class="item">
                            <pre><code>
// app.module.ts
import { NgModule } from '@angular/core';
import { CommonModule } from '@angular/common';
import { AppRoutingModule } from './app-routing.module';
@NgModule({
    imports: [
        CommonModule,
        AppRoutingModule
    ]
})
export class AppModule { }
                    </code></pre>
                </section>
                <section class="inner-section">
                    <h3>Les Observables</h3>
                    <pre><code>
import { Component } from '@angular/core';
import { Observable, of } from 'rxjs';
import { map } from 'rxjs/operators';
@Component({
    selector: 'app-observable-example',
    template: `
        &lt;div&gt;
            &lt;p&gt;Valeur : {{ value }}&lt;/p&gt;
            &lt;button (click)="fetchData()"&gt;Charger les données&lt;/button&gt;
        &lt;/div&gt;
    `
})
export class ObservableExampleComponent {
    value: string = 'Aucune donnée';
    fetchData() {
        this.getData().pipe(
            map(data => `Données récupérées : ${data}`)
        ).subscribe(result => {
            this.value = result;
        });
    }
    getData(): Observable&lt;string&gt; {
        return of('Données de l\'API');
    }
}
                   </code></pre>
                </section>
                <section class="inner-section">
                    <h3>De grandes évolutions dans la CLI d'Angular</h3>
                    <p>Angular 4</p>
                    <ul>
                        <li>Possibilité de créer des guards, des resolvers, des composants plus spécifiques</li>
                    </ul>
                    <p>Angular 5</p>
                    <ul>
                        <li>Introduction du support des PWA (Progressive Web App)</li>
                    </ul>
                    <p>Angular 6</p>
                    <ul>
                        <li>Gestion de l'ajout de dépendances npm</li>
                        <li>Possibilité de réaliser des tests unitaires</li>
                    </ul>
                    <p>Angular 7</p>
                    <ul>
                        <li>Mise à jour globale des dépendances (`ng update`)</li>
                    </ul>
<!-- Une PWA (Progressive Web App) est un type d'application web qui combine les avantages des applications web traditionnelles et des applications mobiles natives.

Voici les principales caractéristiques d'une PWA :

Accessibilité : Une PWA est accessible via un simple lien web, sans avoir besoin d'être installée sur l'appareil de l'utilisateur.
Expérience utilisateur améliorée : Une PWA offre une expérience utilisateur fluide et rapide, similaire à celle d'une application mobile native.
Hors-ligne : Une PWA peut fonctionner hors-ligne, grâce à l'utilisation de "service workers" qui mettent en cache les ressources nécessaires.
Notifications push : Une PWA peut envoyer des notifications push à l'utilisateur, comme une application mobile.
Ajout à l'écran d'accueil : L'utilisateur peut ajouter une PWA à l'écran d'accueil de son appareil, comme une application mobile.
Mise à jour automatique : Une PWA se met à jour automatiquement, sans nécessiter d'intervention de l'utilisateur.
Sécurité : Une PWA est servie en HTTPS, ce qui assure la sécurité des données.
L'introduction du support des PWA dans Angular 5 a permis aux développeurs de créer facilement des applications web progressives, en bénéficiant de toutes ces fonctionnalités. -->
                </section>
                <section class="inner-section">
                    <h3>Angular Material</h3>
                    <p>Officialisation d'Angular Material basé sur les versions d'Angular</p>
                    <img src="./assets/material_v5.png" alt="Angular Material" style="height:700px;width:auto" />
<!-- En réalité, il existait déjà dans la version 2, en développement, mais la version 4 a marqué une étape importante dans son évolution et son adoption par la communauté Angular.

Depuis la version 4, Angular Material est devenu une bibliothèque mature et largement utilisée par les développeurs Angular pour construire des interfaces utilisateur conformes au Material Design.

Donc pour résumer, Angular Material a bien été introduit dès la version 2 d'Angular, mais la version 4 a représenté une étape clé dans son développement et son adoption. -->
                </section>
            </section>
            <!-- Angular 9 à 12 -->
            <section>
                <section class="inner-section">
                    <h3>Angular 9 à 12 : L'ère Ivy</h3>
                </section>
                <section class="inner-section">
                    <h3>Ivy, un moteur de rendu révolutionnaire</h3>
                    <p>Optimisation des performances et de la taille des bundles</p>
                    <aside class="notes">
                        "Et là, bam, Angular 9. Ivy arrive."

"C’est un nouveau moteur de rendu. Mais attention, ça change tout… sans rien casser."
"Concrètement, Ivy rend le framework plus rapide, plus léger, plus flexible. Tu peux compiler juste ce dont t’as besoin. Et ça ouvre la porte à des features plus modernes derrière."
"Sur certains projets, on a vu des bundles réduire de 30 à 40%, juste avec Ivy."

(blague)

"C’est un peu comme si t’installais un nouveau moteur dans ta voiture, sans avoir besoin de racheter les roues."

<!-- Remplace AOT (Ahead Of Time)
Réduction de la taille des bundles => build seulement les parties nécessaires
Amélioration de la vitesse de compilation => arbres de rendu plus légers (tree-shaking)
Amélioration de la gestion des erreurs => messages d'erreur plus clairs et plus précis notamment lorss du préchargement
-->
                    </aside>
                </section>
                <section class="inner-section">
                    <h3>Suivi des évolutions de TypeScript (3.7 -> 4.2)</h3>
                </section>
            </section>
            <!-- Angular 13 à 19 -->
            <section>
                <section class="inner-section">
                    <h3>Angular 13 à 19 : Retour vers le futur des frameworks front-end</h3>
                </section>
                <section class="inner-section">
                    <h3>Flexibilité, modularité et performance</h3>
                    <p>Standalone Components, Federated Modules et Standalone Directives</p>
                    <aside class="notes">
"Angular continue à évoluer. Et là, on entre dans une nouvelle ère."

"Fini les NgModules ? Presque."

(montre un exemple simple de standalone component)

"Aujourd’hui, tu peux créer un composant Angular sans avoir à déclarer un module. C’est plus simple, plus clair, plus rapide."
                   </aside>
                </section>
                <section class="inner-section">
                    <pre><code>
my-app/
├── src/
│   ├── app/
│   │   ├── app.component.ts
│   │   ├── app.module.ts
│   │   └── app-routing.module.ts
│   ├── products/
│   │   ├── pipes/
│   │   │   ├── cart-product.pipe.ts
│   │   ├── components/
│   │   │   ├── product.component.ts
│   │   │   └── cart.component.ts
│   │   ├── services/
│   │   │   └── product.service.ts
│   │   ├── products.module.ts
│   │   └── products-routing.module.ts
│   ├── orders/
│   │   ├── components/
│   │   │   ├── order-form.component.ts
│   │   │   └── order-confirmation.component.ts
│   │   ├── services/
│   │   │   └── order.service.ts
│   │   ├── orders.module.ts
│   │   └── orders-routing.module.ts
│   └── main.ts
├── webpack.config.js
└── package.json
                    </code></pre>
                    <aside class="notes">
1 - Application principale (app/) :
Contient le composant racine, le module principal et le routage de l'application.
Utilise le "Module Federation Plugin" pour charger dynamiquement les modules fédérés.
2 - Module de Produits (products/) :
Contient les composants et services liés à la gestion des produits.
Les composants sont définis comme des Standalone Components.
Le module et le routage sont encapsulés dans ce dossier.
3 - Module de Commandes (orders/) :
Contient les composants et services liés à la gestion des commandes.
Les composants sont également définis comme des Standalone Components.
Le module et le routage sont encapsulés dans ce dossier.
4 - Configuration Webpack (webpack.config.js) :
Contient la configuration du "Module Federation Plugin" pour permettre le chargement dynamique des modules fédérés.  
                    </aside>
                </section>
                <section class="inner-section">
                    <div class="item">
                        <ul>
                            <li>Amélioration de la gestion des formulaires (TypedForms) v13</li>
                            <li>Signals v16</li>
                            <li>defer() v16</li>
                        </ul>
                    </div>
                    <aside class="notes">
"Et puis y’a Signals. Une nouvelle manière de gérer la réactivité, inspirée du monde de la programmation réactive… mais plus lisible, plus intuitive."
"Et pour ceux qui ont déjà utilisé React, vous allez adorer. C’est un peu comme si Angular avait décidé de prendre un café avec React.""
"Et puis, y’a defer(). C’est un peu comme un 'setTimeout' pour tes appels API. Tu peux dire à Angular : 'Hé, attends un peu avant de charger ça.'"
"Et Angular te dit : 'Pas de souci, je vais te le faire.'"
                    </aside>
                </section>
            </section>

            <!-- Bonnes pratiques -->
            <section>
                <section class="inner-section">
                    <h3>Les bonnes pratiques actuelles pour donner un bon coup de fouet à vos applications</h3>
                </section>
                <!-- Structural Control Flow (Angular 14) -->
                <section class="inner-section">
                    <div class="cv">
                        <div class="item">
                            <h3>Structural Control Flow Syntax</h3>
                            <pre><code class="language-typescript">
@if (user.isLoggedIn) {
    &lt;p&gt;Bienvenue, {{ user.name }} !&lt;/p&gt;
} @else {
    &lt;p&gt;Veuillez vous connecter.&lt;/p&gt;
}

@for (let item of items; track item.id) {
    &lt;li&gt;{{ item.name }}&lt;/li&gt;
}

@let currentDate = today() {
    &lt;p&gt;Nous sommes le {{ currentDate }}&lt;/p&gt;
}
                            </code></pre>
                        </div>
                    </div>
                </section>
                <!-- Standalone Components (Angular 14) -->
                <section class="inner-section">
                    <div class="cv">
                        <div class="item">
                            <h3>Standalone Components</h3>
                            <pre><code class="language-typescript">
import { Component } from '@angular/core';
import { CommonModule } from '@angular/common';
import { RouterModule } from '@angular/router';

@Component({
    selector: 'app-standalone',
    standalone: true,
    template: '&lt;h1&gt;Standalone Component&lt;/h1&gt;'
    imports: [CommonModule, RouterModule]
})
export class StandaloneComponent {
    constructor() {
        console.log('Standalone Component Initialized');
    }
}
                            </code></pre>
                        </div>
                    </div>
                </section>
                <!-- Typed Forms (Angular 14) -->
                <section class="inner-section">
                    <div class="cv">
                        <div class="item">
                            <h3>Typed Forms</h3>
                            <pre><code class="language-typescript">
import { Component } from '@angular/core';
import { FormBuilder, FormGroup, Validators } from '@angular/forms';

interface User {
    name: string;
    email: string;
    age: number;
}

@Component({
    selector: 'app-user-form',
})
export class UserFormComponent {
    userForm: FormGroup;

    constructor(private fb: FormBuilder) {
        this.userForm = this.fb.group({
            name: ['', Validators.required],
            email: ['', [Validators.required, Validators.email]],
            age: [null, [Validators.required, Validators.min(0)]],
        }) as FormGroup&lt;User&gt;;
    }

    onSubmit() {
        if (this.userForm.valid) {
            const userData: User = this.userForm.value;
            console.log(userData);
        }
    }
}                                
                            </code></pre>
                        </div>
                    </div>
                </section>
                <!-- Dependency Injection -->
                <section class="inner-section">
                    <div class="cv">
                        <div class="item">
                            <h3>Dependency Injection</h3>
                            <pre><code class="language-typescript">
import { Injectable } from '@angular/core';

@Injectable({
    providedIn: 'root'
})
export class MyService {
    getData() {
        return 'Hello from MyService';
    }
}


import { Component } from '@angular/core';

@Component({
    selector: 'app-dependency-injection',
    template: '&lt;p&gt;{{ data }}&lt;/p&gt;'
})
export class DependencyInjectionComponent {
    @Inject(MyService) myService: MyService;

    data = this.myService.getData();
}
                            </code></pre>
                        </div>
                    </div>
                </section>
                <!-- Signals (Angular 16) -->
                <section class="inner-section">
                    <div class="cv">
                        <div class="item">
                            <h3>Signals</h3>
                            <pre><code class="language-typescript">
import { Component, signal } from '@angular/core';

@Component({
    selector: 'app-signals',
    template: `
        &lt;p&gt;Count: {{ count() }}&lt;/p&gt;
        &lt;button (click)="increment()"&gt;Increment&lt;/button&gt;
    `
})
export class SignalsComponent {
    count = signal(0);
    increment() {
        this.count.update(value => value + 1);
    }
}
                            </code></pre>
                        </div>
                    </div>
                </section>
                <!-- Signals with linkedSignal (l'effet est répercuté directement depuis le signal) -->
                <section class="inner-section">
                    <div class="cv">
                        <div class="item">
                            <h3>Shared Linked Signals</h3>
                            <div class="ch">
                                <div class="item">
                                    <pre><code class="language-typescript">
// user.state.ts
import { signal } from '@angular/core';

export const userAuthSignal = signal({ isAuthenticated: false, user: null });

export function login(user: any) {
    userAuthSignal.set({ isAuthenticated: true, user });
}

export function logout() {
    userAuthSignal.set({ isAuthenticated: false, user: null });
}
                                    </code></pre>
                                </div>
                                <div class="item">
                                    <pre><code class="language-typescript">
// app.component.ts
import { userAuthSignal, logout } from '@state/user.state';

@Component({
    selector: 'app-linked-signals',
    template: `
    <nav>
        @if (userAuthSignal().isAuthenticated) {
            <span>Welcome, {{ userAuthSignal().user.name }}!</span>
            <button (click)="handleLogout()">Logout</button>
        }
    </nav>
    `,
})
export class LinkedSignalsComponent {
    userAuthSignal = userAuthSignal;

    handleLogout() {
        logout();
    }
}
                                    </code></pre>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- defer() (Angular 16) -->
                <section class="inner-section">
                    <div class="cv">
                        <div class="item">
                            <h3>defer()</h3>
                            <div class="ch">
                                <div class="item">
                                    <pre><code class="language-typescript">
// data.service.ts
import { Injectable } from '@angular/core';
import { of } from 'rxjs';
import { delay } from 'rxjs/operators';

@Injectable({
    providedIn: 'root',
})
export class DataService {
    fetchData() {
        return of('Données récupérées !').pipe(delay(2000));
    }
}
                                        
                                    </code></pre>
                                </div>
                                <div class="item">
                                    <pre><code class="language-typescript">
// data-fetcher.component.ts
import { Component } from '@angular/core';
import { defer } from 'rxjs';
import { DataService } from './data.service';

@Component({
    selector: 'app-data-fetcher',
    template: `
    <button (click)="loadData()">Charger les données</button>
    @if (data) {
        <p>Données : {{ data }}</p>
    }
    `,
})
export class DataFetcherComponent {
    data: string | null = null;

    constructor(private dataService: DataService) {}

    loadData() {
        defer(() => this.dataService.fetchData()).subscribe((result) => {
            this.data = result;
        });
    }
}
                                    </code></pre>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </section>

            <!-- Conclusion -->
            <section>
                <section class="inner-section">
                    <h3>Conclusion</h3>
                    <p>Angular a parcouru un long chemin depuis ses débuts, et il continue d'évoluer pour répondre aux besoins des développeurs modernes.</p>
                    <p>Une écoute concrète et permanente de la communauté</p>
                    <p>Quel avenir pour le framework ?</p> 
                        <!-- zone.js bientôt abandonné -->
                        <!-- des structures plus légères et plus réactives avec les signaux et les standalones components -->
                        <!-- un rapprochement toujours plus concret de ReactJs -->
                    <p>Merci de votre attention !</p>
                </section>
            </section>
        </div><!-- slides -->
    </div><!-- reveal -->

    <!-- Scripts -->
    <script type="module" src="./main.js"></script>
</body>

</html>