@font-face { font-family: Indiana; src: url('assets/fonts/indiana_jonas/Indiana-Jonas-48ip.otf'); }
@font-face { font-family: FedoraShadow; src: url('assets/fonts/sf_fedora/SF\ Fedora\ Shadow.ttf'); }
@font-face { font-family: Fedora; src: url('assets/fonts/sf_fedora/SF\ Fedora.ttf'); }
@font-face { font-family: FedoraTiles; src: url('assets/fonts/sf_fedora/SF\ Fedora\ Titles.ttf'); }
@font-face { font-family: FedoraTilesShadow; src: url('assets/fonts/sf_fedora/SF\ Fedora\ Titles\ Shadow.ttf'); }

:root {
    --r-heading1-size: 1.75em;
    --r-heading2-size: 1.4em;
    --r-heading3-size: 1.2em;
    --r-heading4-size: 1.1em;
    --r-main-font-size: 36px;
    --r-heading-text-transform: none;
    --r-heading-color: #ef1757;
    --r-main-color: #000;
}

#speaker-controls {
    font-size: 14px !important;
}

.reveal {
    background: url("assets/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -50px;
}

h1, h2 {
    font-family: Fedora, sans-serif !important;
    color: #fff !important;
}

.p-titre {
    font-family: FedoraTiles, sans-serif !important;
}

.reveal pre code {
    max-height: 780px;
}

.titre {
    display: flex !important;
    background: none !important;
    align-items: flex-end;
    position: absolute;
    top: -10em;
    right: 0;
    width: 25em;
    color: #fff !important;
}

.inner-section {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 20px 0 !important;
}

.ch {
    display: flex;
    flex-direction: row;
}

.cv {
    display: flex;
    flex-direction: column;
}

.item {
    flex: 1;
}

.three-quarter {
    height: 75%;
    width: auto;
}

.var-highlight {
    padding: 1px 3px;
    background: #444;
    color: #fff;
}

.mes-infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mon-nom {
    font-family: Fedora, sans-serif;
    font-size: 2.5em;
    color: #ef1757;
    margin-bottom: 0.5em;
}

.twitter {
    text-decoration: line-through;
}

.max {
    color: #000;
    font-weight: bold;
}

.digital {
    color: #ee2f33;
    font-weight: bold;
}

.serv {
    color: rgb(240, 101, 41);
    font-weight: bold;
}

.compare {
    top: -45px !important;
    font-size: 0.75em !important;
}

/* Classe qu'on ajoutera dynamiquement aux backgrounds à flouter */
.reveal.blur-background .backgrounds {
  backdrop-filter: blur(15px);
  transition: backdrop-filter 1s ease;
}

/* Aucun flou par défaut (utile pour la première slide) */
.reveal .backgrounds {
  backdrop-filter: none;
}
